<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<title>Membright Video Playlist</title>
  	<meta name="description" content="">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  	<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  	<link rel="stylesheet" href="app.css">
  	<script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
	<script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
	<script src="deck.js"></script>
	<script src="deckGetter.js"></script>
	<script src="embed.js" defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="app/bower_components/jquery.scrollTo/jquery.scrollTo.js"></script>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-controller="DeckController">
	<div ng-if="deck" navbar-link deck="deck"></div>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<!--<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 bubble">test</div>-->
			<div video-title deck="deck"></div>
			<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
				<div class="embed-responsive embed-responsive-16by9">
					<youtube class="embed-responsive-item" ng-if="deck" deck="deck" width="640" height="390" webkit-playsinline></youtube>
				</div>
				<div description descri="des" align="left"></div>
				<div>
					<h3> What's With the Flashcards?</h3>
					<p>
					As you watch the video, the flashcards with the relevant content will open to help you follow along with the material. You can also click on the flashcards to jump to a specific time in the video.<br><br>
YouTube is host to some of the best educational videos of all time. But sometimes these videos are so dense, it's hard for me to keep up. That's why I built this web app, to help me follow along, and then later, go through these flashcards in <a href="http://membright.com/" target="_blank">Membright</a> (my brother's app) to make sure I don't forget the important details and facts.<br><br>

This WebApp isn't worth much on it's own. To really extract the value of it, you would have to review the flashcards on a regular basis.<br><br>

If you want to be able to use this flashcard deck, <a href="http://membright.com/app/#/search/The_Agricultural%20Revolution/Deck/214" target="_blank">click here</a>. Otherwise, just kick back, relax, and enjoy this great infotainment.
					</p>
				</div>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<div ng-if="deck.cards" show-card deck="deck"></div>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				<h3>Available Videos:</h3>
				<a href="http://ntoscano.github.io/membrightVideoPlayer/app/index.html#?deck=221" target="_blank">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<h4>Phases of the Moon:</h4>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<img class="picture" src="http://img.youtube.com/vi/AQ5vty8f9Xc/2.jpg">
					</div>
				</a>
				<br><br><br><br><br>
				<a href="http://ntoscano.github.io/membrightVideoPlayer/app/index.html#?deck=214" target="_blank">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<h4>The Agricultural Revolution</h4>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<img class="picture" src="http://img.youtube.com/vi/Yocja_N5s1I/3.jpg">
					</div>
				</a>
			</div>
		<!--	<div class="col-xs-1 col-xs-push-11 col-sm-1 col-sm-push-11 col-md-1 col-md-push-11 col-lg-1 col-lg-push-11 bubble2"></div>-->
		</div>
	</div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59776212-1', 'auto');
  ga('send', 'pageview');

</script>
</html>

